/* VARIABLES */
/* SITE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #c5e4e7;
}

input::-webkit-input-placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  color: #00494d;
}

input:-ms-input-placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  color: #00494d;
}

input::-ms-input-placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  color: #00494d;
}

input::placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  color: #00494d;
}

/* SECTION */
.heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  width: 12rem;
  margin: auto;
  color: #00494d;
  text-align: center;
  word-wrap: break-word;
}

.splitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 32rem;
  max-width: 42rem;
  padding: 3.3rem;
  margin-top: 3.5rem;
  border-radius: 2rem;
  background-color: white;
}

.select_box {
  position: relative;
}

.select_box__text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #5e7a7d;
}

.select_box__input {
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 100%;
  margin: 0.5rem 0 3rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: #00494d;
  background-color: #f4fafa;
  text-align: right;
}

.select_box__icon {
  position: absolute;
  top: 4.1rem;
  left: 2rem;
}

.select_box__icon:nth-of-type(2) {
  position: absolute;
  top: 38.5rem;
  left: 2rem;
}

.select_box__people_error, .select_box__bill_error {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.7);
  opacity: 0.5;
}

.select_box__select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (5rem)[3];
      grid-template-rows: repeat(3, 5rem);
  gap: 1rem;
  width: 100%;
  margin: 2rem 0;
}

.select_box__select--btn {
  display: none;
}

.select_box__select--btn_label:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.select_box__select--btn_label:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.select_box__select--btn_label:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.select_box__select--btn_label:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.select_box__select--btn_label:nth-of-type(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.select_box__select--btn_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #00494d;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.select_box__select--input {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: #00494d;
  background-color: #f4fafa;
  text-align: right;
}

.select_box__select--custom_error {
  display: none;
  position: absolute;
  right: 0;
  bottom: 11rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.7);
  opacity: 0.5;
}

.outcome_box {
  width: 100%;
  border-radius: 2rem;
  background-color: #00494d;
  padding: 2.5rem;
}

.outcome_box__reset_btn {
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
  margin-top: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #00494d;
  background-color: #26c0ab;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.text_box__text {
  font-size: 1.4rem;
  font-weight: bold;
}

.text_box__text--text1 {
  color: white;
}

.text_box__text--text2 {
  font-family: monospace;
  color: #5e7a7d;
}

.text_box__result {
  font-size: clamp(3.2rem, 5vw, 4.5rem);
  font-weight: bold;
  color: #26c0ab;
}

.text_box:nth-of-type(2) {
  margin-top: 0.5rem;
}

.input_error {
  border: 2px solid rgba(255, 0, 0, 0.7);
}

.error {
  display: block;
}

/* HOVERS / ACTIVE */
button:hover {
  background-color: #c5e4e7;
}

button:active {
  background-color: #26c0ab;
}

input:focus {
  outline: 2px solid #26c0ab;
}

input[type='radio'][name='tip_value']:hover + .select_box__select--btn_label {
  background-color: #c5e4e7;
  color: #00494d;
}

input[type='radio'][name='tip_value']:checked + .select_box__select--btn_label {
  background-color: #26c0ab;
  color: #00494d;
}

/* MEDIA QUERIES */
@media (min-width: 660px) {
  .splitter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
    max-width: 92rem;
  }
  .select_box__input {
    margin: 0.5rem 0 4.5rem;
  }
  .select_box__input:nth-of-type(2) {
    margin-bottom: 1.5rem;
  }
  .select_box__icon:nth-of-type(2) {
    top: 41.5rem;
  }
  .select_box__select {
    gap: 1.5rem;
  }
  .select_box__select--custom_error {
    bottom: 10rem;
  }
  .outcome_box__reset_btn {
    margin-top: 17rem;
  }
  .text_box:nth-of-type(2) {
    margin-top: 3.5rem;
  }
}

@media (min-width: 900px) {
  .select_box__input:nth-of-type(2) {
    margin-bottom: 1.5rem;
  }
  .select_box__icon:nth-of-type(2) {
    top: 35rem;
  }
  .select_box__select {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (5rem)[2];
        grid-template-rows: repeat(2, 5rem);
  }
  .select_box__select--btn_label:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .select_box__select--btn_label:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .select_box__select--btn_label:nth-of-type(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
  .select_box__select--btn_label:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .select_box__select--btn_label:nth-of-type(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .select_box__select--input {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  .outcome_box__reset_btn {
    margin-top: 10.5rem;
  }
}
/*# sourceMappingURL=style.css.map */