/* VARIABLES */
@import './colors';

/* SITE */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Space Mono', monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: $light-grayish-cyan;
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
	font-family: 'Space Mono', monospace;
	font-size: 2.4rem;
	font-weight: bold;
	color: $very-dark-cyan;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}

/* SECTION */
.heading {
	font-size: 2.4rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	width: 12rem;
	margin: auto;
	color: $very-dark-cyan;
	text-align: center;
	word-wrap: break-word;
}

.splitter {
	display: flex;
	flex-direction: column;
	min-width: 32rem;
	max-width: 42rem;
	padding: 3.3rem;
	margin-top: 3.5rem;
	border-radius: 2rem;
	background-color: $white;
}

.select_box {
	position: relative;

	&__text {
		font-size: 1.4rem;
		font-weight: bold;
		color: $dark-grayish-cyan;
	}

	&__input {
		font-family: 'Space Mono', monospace;
		font-size: 2.4rem;
		font-weight: bold;
		-webkit-appearance: none;
		-moz-appearance: textfield;
		width: 100%;
		margin: 0.5rem 0 3rem;
		padding: 0.5rem 2rem;
		border: none;
		border-radius: 0.5rem;
		color: $very-dark-cyan;
		background-color: $very-light-grayish-cyan;
		text-align: right;
	}

	&__icon {
		position: absolute;
		top: 4.1rem;
		left: 2rem;
	}

	&__icon:nth-of-type(2) {
		position: absolute;
		top: 38.5rem;
		left: 2rem;
	}

	&__people_error,
	&__bill_error {
		display: none;
		position: absolute;
		right: 0;
		font-size: 1.4rem;
		font-weight: bold;
		color: $error;
		opacity: 0.5;
	}

	&__select {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 5rem);
		gap: 1rem;
		width: 100%;
		margin: 2rem 0;

		&--btn {
			display: none;
		}

		&--btn_label:nth-of-type(1) {
			grid-area: 1 / 1 / 2 / 2;
		}
		&--btn_label:nth-of-type(2) {
			grid-area: 1 / 2 / 2 / 3;
		}
		&--btn_label:nth-of-type(3) {
			grid-area: 2 / 1 / 3 / 2;
		}
		&--btn_label:nth-of-type(4) {
			grid-area: 2 / 2 / 3 / 3;
		}
		&--btn_label:nth-of-type(5) {
			grid-area: 3 / 1 / 4 / 2;
		}

		&--btn_label {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Space Mono', monospace;
			font-size: 2.4rem;
			font-weight: bold;
			width: 100%;
			border: none;
			border-radius: 0.5rem;
			color: $white;
			background-color: $very-dark-cyan;
			transition: background-color 0.3s, color 0.3s;
			cursor: pointer;
		}

		&--input {
			grid-area: 3 / 2 / 4 / 3;
			font-family: 'Space Mono', monospace;
			font-size: 2.4rem;
			font-weight: bold;
			width: 100%;
			padding: 0.5rem 2rem;
			border: none;
			border-radius: 0.5rem;
			color: $very-dark-cyan;
			background-color: $very-light-grayish-cyan;
			text-align: right;
		}

		&--custom_error {
			display: none;
			position: absolute;
			right: 0;
			bottom: 11rem;
			font-size: 1.4rem;
			font-weight: bold;
			color: $error;
			opacity: 0.5;
		}
	}
}

.outcome_box {
	width: 100%;
	border-radius: 2rem;
	background-color: $very-dark-cyan;
	padding: 2.5rem;

	&__reset_btn {
		font-family: 'Space Mono', monospace;
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		width: 100%;
		padding: 1rem;
		margin-top: 3.5rem;
		border: none;
		border-radius: 0.5rem;
		color: $very-dark-cyan;
		background-color: $strong-cyan;
		transition: background-color 0.3s;
		cursor: pointer;
	}
}

.text_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;

	&__text {
		font-size: 1.4rem;
		font-weight: bold;

		&--text1 {
			color: $white;
		}

		&--text2 {
			font-family: monospace;
			color: $dark-grayish-cyan;
		}
	}

	&__result {
		font-size: clamp(3.2rem, 5vw, 4.5rem);
		font-weight: bold;
		color: $strong-cyan;
	}
}

.text_box:nth-of-type(2) {
	margin-top: 0.5rem;
}

.input_error {
	border: 2px solid $error;
}

.error {
	display: block;
}

.disabled {
	opacity: 0.2;
}

/* HOVERS / ACTIVE */

button:hover {
	background-color: $light-grayish-cyan;
}

button:active {
	background-color: $strong-cyan;
}

input:focus {
	outline: 2px solid $strong-cyan;
}

input[type='radio'][name='tip_value']:hover + .select_box__select--btn_label {
	background-color: $light-grayish-cyan;
	color: $very-dark-cyan;
}

input[type='radio'][name='tip_value']:checked + .select_box__select--btn_label {
	background-color: $strong-cyan;
	color: $very-dark-cyan;
}

/* MEDIA QUERIES */
@media (min-width: 660px) {
	.splitter {
		flex-direction: row;
		gap: 5rem;
		max-width: 92rem;
	}

	.select_box {
		&__input {
			margin: 0.5rem 0 4.5rem;
		}

		&__input:nth-of-type(2) {
			margin-bottom: 1.5rem;
		}

		&__icon:nth-of-type(2) {
			top: 41.5rem;
		}

		&__select {
			gap: 1.5rem;

			&--custom_error {
				bottom: 10rem;
			}
		}
	}

	.outcome_box {
		&__reset_btn {
			margin-top: 17rem;
		}
	}

	.text_box:nth-of-type(2) {
		margin-top: 3.5rem;
	}
}

@media (min-width: 900px) {
	.select_box {
		&__input:nth-of-type(2) {
			margin-bottom: 1.5rem;
		}

		&__icon:nth-of-type(2) {
			top: 35rem;
		}

		&__select {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 5rem);

			&--btn_label:nth-of-type(1) {
				grid-area: 1 / 1 / 2 / 2;
			}
			&--btn_label:nth-of-type(2) {
				grid-area: 1 / 2 / 2 / 3;
			}
			&--btn_label:nth-of-type(3) {
				grid-area: 1 / 3 / 2 / 4;
			}
			&--btn_label:nth-of-type(4) {
				grid-area: 2 / 1 / 3 / 2;
			}
			&--btn_label:nth-of-type(5) {
				grid-area: 2 / 2 / 3 / 3;
			}

			&--input {
				grid-area: 2 / 3 / 3 / 4;
			}
		}
	}

	.outcome_box {
		&__reset_btn {
			margin-top: 10.5rem;
		}
	}
}
